.list {
  list-style: circle;
  margin: 0;
}

.cardData {
  margin-top: 7px;
  margin-bottom: 13px;
  padding-top: 5px;
  font-family: "Montserrat";
  background-color: #e8a62b;
}

.buttonData {
  max-width: 80px;
  margin-top: 0px;
  background-color: #404040;
  font-size: 18pt;
  border-color: #404040;
  font-family: "Abel";
  color: white;
  font-weight: bold;
}

.buttonData:hover {
  background-color: green;
  border-color: green;
}

.modal {
  display: flex;
  align-items: center;
  font-family: "Montserrat";
  border-radius: 7px;
  font-weight: 600;
}

.joinInfo {
  background-color: #404040;
  font-family: "Abel";
  font-size: 16pt;
  font-weight: bold;
}

.label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
